div {
    outline: 1px solid black;
    }
 #container {
    width: 1366px;
    margin: auto;
            }
 #blue {
    height: 785px;
    background-color: #f1ece9;
}

 #green {
        height: 753px;
        background-color: #bad3cc;
    }